<div class="md-form">
    <input class="navinput" type="search" [(ngModel)]="searchText" id="searchInput" placeholder="Search Products" >
 

    <p *ngIf = "filteredList(searchText).length == 0 && searchText != '' ">
      It appears no items match your search. 
      Please check the spelling.
      </p>
    
    <ul class="navul">
      <li *ngFor = "let f of filteredList(searchText)" (click)="clearSearchText()" routerLink="/product-details/{{ f.productId }}"> {{ f.productName }} </li>

    </ul>

</div>