<div *ngIf="productsArray" class="grid-container">
<div class="grid-container">



    <div *ngFor = "let item of productsArray" class="product-card">

      <!-- basic card commpand -->
      <h2>ID#: {{item.productId}}</h2>
      <p>Name: {{item.productName}}</p>
      <p>Price: {{item.productPrice}}</p>
      <p>On Sale: {{item.saleId}}</p>
      <img src={{item.picUrl}} (click)="moreInfo()"/>
      <a class="nav-link" routerLink="/product-details/{{item.productId}}">link</a>

  </div>







</div>
</div>
