<div class="row flex-container" *ngIf="cart && !checkoutFinished">
  <div class="column-left">
    <h2>Item Details</h2>
    <p *ngIf="error">Not enough inventory to handle checkout request!</p>
    <div *ngFor="let item of cart.items; index as i">
      <mat-card class="product-card mat-elevation-z5">
        <mat-card-title-group>
          <mat-card-title>{{ item.product.productName }}</mat-card-title>
          <mat-card-subtitle>{{ item.product.category }}</mat-card-subtitle>

          <!--  -->
        </mat-card-title-group>
        <mat-card-content>
          <div class="flex-container">
            
            <div [ngClass]="limitedSupply[i] ? 'red' : ''">
              Qty: {{ item.quantity }} <span *ngIf="limitedSupply[i]">Limited Stock</span>
              <app-quantity-select [product]="item.product"></app-quantity-select>
            </div>

            <div>

              <p [ngClass]="limitedSupply[i] ? 'red' : ''">
                {{
                  item.quantity * item.product.productPrice | currency
                }}
                <br />
                <span class="grey"
                  >{{ item.product.productPrice | currency }} ea</span
                >
              </p>
            </div>
          </div>

          <div>
            <img mat-card-md-image src="{{ item.product.picUrl }}" />
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="column-right">
    
      <div class="box">
        <div><h2>Order Summary</h2></div>
        <table>
          <tr>
            <td>
              <p>Items({{ getTotalQty() }}):</p>
            </td>
            <td>
              <p>{{ getTotalPrice() | currency }}</p>
            </td>
          </tr>
          <tr>
            <td><p>Shipping & Handling:</p></td>
            <td><p>{{10.00 | currency}}</p></td>
          </tr>
          <tr>
            <td><p>Estimated Tax:</p></td>
            <td><p>{{0.00 | currency}}</p></td>
          </tr>
        </table>
        <hr />

        <div>
          <h4>Order total : {{ getTotalPrice() + 10 | currency }}</h4>
        </div>
        <div class="center">
        <button mat-raised-button color="primary" (click)="onCheckoutClicked()">
          Place your order
        </button>
        </div>
      </div>
    
  </div>
</div>
<div *ngIf="cart && checkoutFinished">
  <p>Thank you for your purchase. Your order is on its way.</p>
</div>
