.grid-container{
  display: inline-grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 2em;
  gap: 4em;
}

.textCenter {
  text-align: center;
}

.mbtm {
  margin-bottom: 150px;
}

.mbtm2 {
  margin-bottom: 75px;
}
