

<div id="homeCon" class="container">


  <div id="banner" class="jumbotron" style="text-align: center;">

    <!-- Title -->
  <h1 class="card-title h4 pb-2"><strong>THE REVDEPOT</strong></h1>

  <!-- Card image -->
 <div class="view overlay my-4 waves-light" mdbWavesEffect>
    <img src="https://i.pinimg.com/736x/24/10/0f/24100ff307cb2ec693a343f72ae2ad60--like-a-boss-life.jpg" class="img-fluid" alt="">
    <a>
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>

  </div>
</div>

<div class="container-fluid">
  <app-sales-deals></app-sales-deals>
</div>

<div id="items" class="container">
  <div id="deals"><!--make this a round-about careinsel* section-->
    <h1>All Items</h1><!--data bind product info-->
    <a id = "spacing"  class="col-1-4" routerLink="/result-page">

    <div id="itemCon">

      <h3>Show more</h3>

      <!-- <app-product-card></app-product-card>  component that holds products that are on sale -->

      <!--
      <div *ngFor = "let todo of todosArray" class="todo-card" onclick="reroute">


        <h2>ToDo#{{todo.id}}</h2>
        <p>Tasks:{{todo.content}}</p>
        <p>Status:{{todo.status}}</p>
        <label for="updateBox{{todo.id}}">Update Tasks</label>
        <input id="updateBox{{todo.id}}" [(ngModel)]="todo.content" />
        <img src={{todo.img}}/>
        -->

    </div>
  </a>
  </div>

  <br>
  <br>


  <div id="categories">
    <h1>Categories</h1> <!-- this section routes to a sorted results page based on category that is clicked -->
    <div id="catButtons" class="grid-container" *ngFor="let category of categoriesArray">
      <a id = "spacing"  class="col-1-4" routerLink="/result-page/{{category}}">
        <div>
            <h2>{{category | uppercase}}</h2>
        </div>
      </a>
    </div>
    <br>
    <br>

    <!--how does search and sort team want to display results-->

  </div>




  </div>







