<div id="homeCon" class="container">
	<div id="banner" class="jumbotron">
		<!-- Title -->
		<!-- <h4 class="card-title h4 pb-2"><strong>My adventure</strong></h4> -->
		<!-- Card image -->
		<div class="view overlay my-4 waves-light" mdbWavesEffect> <img src="assets/RevDepotBanner.png" class="img-fluid" alt="">
			<a>
				<div class="mask rgba-white-slight"></div>
			</a>
		</div>
	</div>
</div>
<div class="container-fluid">
	<app-sales-deals></app-sales-deals>
</div>
<div id="items" class="container">
	<div class="row justify-content-center mbtm2">
		<!--make this a round-about careinsel* section-->
		<!--data bind product info-->
	</div>
	<!-- this section routes to a sorted results page based on category that is clicked -->
	<div class="row justify-content-center">
	
			<h2 class="col-md-2 title">Categories</h2> </div>

	<br>
	<div class="row justify-content-center">
		<div class="col-lg-4 textCenter"> <a routerLink="/result-page/products" class="graytext">See All Items</a> </div>
	</div>
	<br>
	<br>
	<div class="row justify-content-center mbtm">
		<div id="catButtons" class="col-lg-3 textCenter" *ngFor="let category of categoriesArray">
			<a id="spacing" routerLink="/result-page/{{category}}">
				<div>
					<button mat-flat-button class="categoryButtons">{{category | uppercase}}</button>
				</div>
			</a>
		</div>
	</div>
</div>





