<div *ngIf ="loggedIn">
    <div *ngIf="isInCart">
        <button class="override addBtn" (click)="decrement()" (mousedown)="mousedown(false)" (mouseup)="mouseup()"><mat-icon>remove</mat-icon></button>
        {{item.quantity}}
        <button class="override addBtn" (click)="increment()" (mousedown)="mousedown(true)" (mouseup)="mouseup()"><mat-icon>add</mat-icon></button>
        <br>
        <button mat-flat-button color="primary" (click)="removeItem()">Remove</button>
    </div>
    
    <div *ngIf="!isInCart">
        <button class="override addBtn" (click)="addToCart()">
            <mat-icon>add</mat-icon>
        </button> Add to Cart
    </div>
</div>