
.example-spacer {
  flex: 1 1 auto;
}

.mat-sidenav-container {
  background-color: #F26925;
  position: fixed!important;
  height: 100%;
  min-height: 100%;
  width: 100%;
  min-width: 100%;
}


.sidenav {
  
  width: 300px;
}

.navvbar {
  background-color: black;
  color: #FFFFFF;
  ;
}

.pointerHover {
  cursor: pointer;
}
.btn {
  border-radius: 50%;
  height: 25px;
  width: 25px;
  padding: 0px;
}

mat-toolbar{
  background-color: #474C55;
}

mat-sidenav{
  background-color: #B9B9BA;
}