<!-- <app-searchbar></app-searchbar> -->
<mat-toolbar color="primary" class="fixed-header">

    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="homeRoute()">
        <mat-icon>home</mat-icon>
    </button>
    <span class="example-spacer"></span>
    <mat-form-field>
        <input type=" text" matInput placeholder="Search">
    </mat-form-field>
    <span class="example-spacer"></span>
    <button *ngIf="loggedIn" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"
        (click)="sidenav.toggle()">
        <mat-icon *ngIf="!opened">shopping_cart</mat-icon>
        <mat-icon *ngIf="opened">arrow_forward_ios</mat-icon>
    </button>

</mat-toolbar>

<mat-sidenav-container class="sidnav-container" hasBackdrop="false" autosize>
    <mat-sidenav class="sidenav" mode="over" [(opened)]="opened" position='end' fixedTopGap="64" [autoFocus]="false"
        fixedInViewport>
        <div *ngIf="cart">
            <app-cart-card *ngFor="let item of cart.items" [item] = "item"></app-cart-card>
        </div>
        <h3 *ngIf="cartIsEmpty">Cart is currently empty.</h3>
        <mat-divider></mat-divider>
        <h4>Total: {{totalPrice}}</h4>
        <mat-divider></mat-divider>
        <button mat-flat-button color="primary" (click)="checkoutRoute()" (click)="sidenav.toggle()">Checkout</button>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>