<div *ngIf="productsArray" class="grid-container"></div>
<!-- <a class="nav-link" routerLink="/">Home</a> -->

<br>
<br>

<!-- <p (click)="moreInfo()">Test</p> -->



<div class="grid-container">


  <div *ngFor = "let item of productsArray" class="product-card">
    <a class="nav-link" routerLink="/result-page/{{item.productCategory}}">{{item.productCategory}} > </a> <!--Futher implementation is needed-->

    <br>
    <br>


    <h2>ID#: {{item.productId}}</h2>
    <img src={{item.picUrl}} /> <!--(click)="moreInfo(item.productId)"-->
    <br>
    <h2>{{item.productName}}</h2>
    <p>Price: {{item.productPrice}}</p>
    <p>Rating: {{item.productRating}}</p>
    <p>On Sale: On sale</p> <!--toggle to show if on sale-->

    <h2>Category</h2>
    <a class="nav-link" routerLink="/result-page/{{item.productCategory}}">{{item.productCategory}}</a>
   <br>
   <br>
    <h2>Item Description</h2>
    <p>{{item.productDescription}}</p>


</div>
