.form-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

/* Add styles to the form container */
.form-container {
  margin-left: 10px;
  max-width: 300px;
  padding: 40px;
  background-color: #FF6619;
  margin-top: 100px;
  border-radius: 20px;
  box-shadow: darkslategray;
}


h2, h3, h4{
  text-shadow: 2px 2px #c2f85c;
  font-weight: bolder;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 5px 0;
  border: saddlebrown;
  background: #f1f1f1;
  font-weight: bolder;
  border-radius: 10px;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #1c55f3;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
  border-radius: 10px;
  font-weight: bold;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover, a {
  opacity: 1;
}
